body{
    background-color: purple;
}
.id{
    background-color: yellow;
}
h3{
    background-color: blue;
}
p{
    background-color: green;
}
.click{
    background-color: blue;
    color: whitesmoke;
}